* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background: rgb(56, 55, 55);
  text-align: center;
}

.logo img {
  width: 100px;
  margin-top: 100px;
}

section ul img {
  width: 40px;
  margin: 10px;
}

input {
  width: 40px;
  height: 30px;
  margin: 10px;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 60%;
  margin: auto;
}

section ul li {
  border: solid 1px black;
  background: blanchedalmond;
  text-align: left;
  display: flex;
}

.text_0 {
  margin: auto 5px;
}

nav ul img {
  width: 40px;
}
nav ul li {
  margin: 10px;
  cursor: pointer;
}

.blue {
  background: blue;
  width: 60px;
  height: 20px;
}
.yallow {
  background: yellow;
  width: 60px;
  height: 20px;
}
.pink {
  background: pink;
  width: 60px;
  height: 20px;
}

._p.active,
._s.active,
._t.active,
._blue.active,
._yallow.active,
._pink.active {
  display: none;
}
